@font-face {
  font-family: 'GeomanistBlack';
  src: url("./../css/fonts/Geomanist-Black.eot"), url("./../css/fonts/Geomanist-Black.woff2") format("woff2"), url("./../css/fonts/Geomanist-Black.woff") format("woff"), url("./../css/fonts/Geomanist-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBold';
  src: url("./../css/fonts/Geomanist-Bold.eot"), url("./../css/fonts/Geomanist-Bold.woff2") format("woff2"), url("./../css/fonts/Geomanist-Bold.woff") format("woff"), url("./../css/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBook';
  src: url("./../css/fonts/Geomanist-Book.eot"), url("./../css/fonts/Geomanist-Book.woff2") format("woff2"), url("./../css/fonts/Geomanist-Book.woff") format("woff"), url("./../css/fonts/Geomanist-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistExtraLight';
  src: url("./../css/fonts/Geomanist-ExtraLight.eot"), url("./../css/fonts/Geomanist-ExtraLight.woff2") format("woff2"), url("./../css/fonts/Geomanist-ExtraLight.woff") format("woff"), url("./../css/fonts/Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistLight';
  src: url("./../css/fonts/Geomanist-Light.eot"), url("./../css/fonts/Geomanist-Light.woff2") format("woff2"), url("./../css/fonts/Geomanist-Light.woff") format("woff"), url("./../css/fonts/Geomanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistMedium';
  src: url("./../css/fonts/Geomanist-Medium.eot"), url("./../css/fonts/Geomanist-Medium.woff2") format("woff2"), url("./../css/fonts/Geomanist-Medium.woff") format("woff"), url("./../css/fonts/Geomanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistRegular';
  src: url("./../css/fonts/Geomanist-Regular.eot"), url("./../css/fonts/Geomanist-Regular.woff2") format("woff2"), url("./../css/fonts/Geomanist-Regular.woff") format("woff"), url("./../css/fonts/Geomanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanisUltra';
  src: url("./../css/fonts/Geomanist-Ultra.eot"), url("./../css/fonts/Geomanist-Ultra.woff2") format("woff2"), url("./../css/fonts/Geomanist-Ultra.woff") format("woff"), url("./../css/fonts/Geomanist-Ultra.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GeomanistRegular", arial, sans-serif;
}

.divider {
  height: 4px;
  width: 100px;
  background: #FF0052;
}

@font-face {
  font-family: 'GeomanistBlack';
  src: url("./../css/fonts/Geomanist-Black.eot"), url("./../css/fonts/Geomanist-Black.woff2") format("woff2"), url("./../css/fonts/Geomanist-Black.woff") format("woff"), url("./../css/fonts/Geomanist-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBold';
  src: url("./../css/fonts/Geomanist-Bold.eot"), url("./../css/fonts/Geomanist-Bold.woff2") format("woff2"), url("./../css/fonts/Geomanist-Bold.woff") format("woff"), url("./../css/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBook';
  src: url("./../css/fonts/Geomanist-Book.eot"), url("./../css/fonts/Geomanist-Book.woff2") format("woff2"), url("./../css/fonts/Geomanist-Book.woff") format("woff"), url("./../css/fonts/Geomanist-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistExtraLight';
  src: url("./../css/fonts/Geomanist-ExtraLight.eot"), url("./../css/fonts/Geomanist-ExtraLight.woff2") format("woff2"), url("./../css/fonts/Geomanist-ExtraLight.woff") format("woff"), url("./../css/fonts/Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistLight';
  src: url("./../css/fonts/Geomanist-Light.eot"), url("./../css/fonts/Geomanist-Light.woff2") format("woff2"), url("./../css/fonts/Geomanist-Light.woff") format("woff"), url("./../css/fonts/Geomanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistMedium';
  src: url("./../css/fonts/Geomanist-Medium.eot"), url("./../css/fonts/Geomanist-Medium.woff2") format("woff2"), url("./../css/fonts/Geomanist-Medium.woff") format("woff"), url("./../css/fonts/Geomanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistRegular';
  src: url("./../css/fonts/Geomanist-Regular.eot"), url("./../css/fonts/Geomanist-Regular.woff2") format("woff2"), url("./../css/fonts/Geomanist-Regular.woff") format("woff"), url("./../css/fonts/Geomanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanisUltra';
  src: url("./../css/fonts/Geomanist-Ultra.eot"), url("./../css/fonts/Geomanist-Ultra.woff2") format("woff2"), url("./../css/fonts/Geomanist-Ultra.woff") format("woff"), url("./../css/fonts/Geomanist-Ultra.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GeomanistRegular", arial, sans-serif;
}

.divider {
  height: 4px;
  width: 100px;
  background: #FF0052;
}

html {
  font-size: 16px;
}

header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(./../../img/title-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 95vh;
}

.navbar {
  background-color: none !important;
}

.nav-item {
  margin-left: 20px;
}

header div.title {
  color: #ffffff;
  font-family: "GeomanistBold", arial, sans-serif;
}

header div.title p {
  font-size: 2rem;
}

header div.title h1 {
  font-size: 3.5rem;
}

header div.title h2 {
  font-size: 3.5rem;
}

.red {
  color: #FF0052;
}

.a {
  font-size: 2rem;
}

header div.title button {
  font-size: 1.8rem;
  padding: 5px 30px;
  margin: 50px 0;
  font-family: "GeomanistBold", arial, sans-serif;
  border: 2px solid #FF0052;
  color: #FF0052;
  background: none;
  border-radius: 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header div.title button:hover {
  background-color: #FF0052;
  color: #ffffff;
}

header div.social-media {
  margin-bottom: 20px;
}

header div.social-media a {
  color: #ffffff;
  margin: 0px 5px;
}

header div.social-media a i {
  font-size: 1.5rem;
}

header div.social-media a i:hover {
  color: #FF0052;
}

@media (max-width: 600px) {
  header div.title p {
    font-size: 1.5rem;
  }
  header div.title h1 {
    font-size: 2.5rem;
  }
  header div.title h2 {
    font-size: 2.5rem;
  }
  .a {
    font-size: 1.5rem;
  }
  header div.title button {
    font-size: 1.5rem;
  }
}

@media (max-width: 993px) {
  .nav-item {
    margin-left: 0px;
  }
}

@font-face {
  font-family: 'GeomanistBlack';
  src: url("./../css/fonts/Geomanist-Black.eot"), url("./../css/fonts/Geomanist-Black.woff2") format("woff2"), url("./../css/fonts/Geomanist-Black.woff") format("woff"), url("./../css/fonts/Geomanist-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBold';
  src: url("./../css/fonts/Geomanist-Bold.eot"), url("./../css/fonts/Geomanist-Bold.woff2") format("woff2"), url("./../css/fonts/Geomanist-Bold.woff") format("woff"), url("./../css/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBook';
  src: url("./../css/fonts/Geomanist-Book.eot"), url("./../css/fonts/Geomanist-Book.woff2") format("woff2"), url("./../css/fonts/Geomanist-Book.woff") format("woff"), url("./../css/fonts/Geomanist-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistExtraLight';
  src: url("./../css/fonts/Geomanist-ExtraLight.eot"), url("./../css/fonts/Geomanist-ExtraLight.woff2") format("woff2"), url("./../css/fonts/Geomanist-ExtraLight.woff") format("woff"), url("./../css/fonts/Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistLight';
  src: url("./../css/fonts/Geomanist-Light.eot"), url("./../css/fonts/Geomanist-Light.woff2") format("woff2"), url("./../css/fonts/Geomanist-Light.woff") format("woff"), url("./../css/fonts/Geomanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistMedium';
  src: url("./../css/fonts/Geomanist-Medium.eot"), url("./../css/fonts/Geomanist-Medium.woff2") format("woff2"), url("./../css/fonts/Geomanist-Medium.woff") format("woff"), url("./../css/fonts/Geomanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistRegular';
  src: url("./../css/fonts/Geomanist-Regular.eot"), url("./../css/fonts/Geomanist-Regular.woff2") format("woff2"), url("./../css/fonts/Geomanist-Regular.woff") format("woff"), url("./../css/fonts/Geomanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanisUltra';
  src: url("./../css/fonts/Geomanist-Ultra.eot"), url("./../css/fonts/Geomanist-Ultra.woff2") format("woff2"), url("./../css/fonts/Geomanist-Ultra.woff") format("woff"), url("./../css/fonts/Geomanist-Ultra.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GeomanistRegular", arial, sans-serif;
}

.divider {
  height: 4px;
  width: 100px;
  background: #FF0052;
}

.sectionII {
  background: #00005E;
  text-align: center;
}

.sectionII h2 {
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;
  font-family: "GeomanistBold", arial, sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.sectionII .divider {
  margin: auto;
  text-align: center;
}

.sectionII p {
  padding-top: 15px;
  color: #fff;
  max-width: 250px;
  text-align: center;
  margin: auto;
}

.sectionII .img {
  max-width: 320px;
  margin: auto;
}

.sectionII .img img {
  width: 100%;
  padding: 20px 0;
}

@media only screen and (min-width: 500px) {
  .sectionII h2 {
    font-size: 50px;
  }
  .sectionII p {
    max-width: 400px;
  }
  .sectionII .img {
    max-width: 460px;
  }
}

@media only screen and (min-width: 825px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .container .text {
    margin: auto;
    width: 50%;
  }
  .container .text h2 {
    padding-top: 0;
    margin-top: -20px;
  }
  .container .text P {
    padding-top: 0;
    margin-top: 20px;
  }
  .container .img {
    max-width: 50%;
  }
  .container .img img {
    width: 90%;
    padding: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .sectionII h2 {
    font-size: 65px;
  }
  .sectionII p {
    max-width: 75%;
    font-size: 24px;
  }
}

@font-face {
  font-family: 'GeomanistBlack';
  src: url("./../css/fonts/Geomanist-Black.eot"), url("./../css/fonts/Geomanist-Black.woff2") format("woff2"), url("./../css/fonts/Geomanist-Black.woff") format("woff"), url("./../css/fonts/Geomanist-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBold';
  src: url("./../css/fonts/Geomanist-Bold.eot"), url("./../css/fonts/Geomanist-Bold.woff2") format("woff2"), url("./../css/fonts/Geomanist-Bold.woff") format("woff"), url("./../css/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBook';
  src: url("./../css/fonts/Geomanist-Book.eot"), url("./../css/fonts/Geomanist-Book.woff2") format("woff2"), url("./../css/fonts/Geomanist-Book.woff") format("woff"), url("./../css/fonts/Geomanist-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistExtraLight';
  src: url("./../css/fonts/Geomanist-ExtraLight.eot"), url("./../css/fonts/Geomanist-ExtraLight.woff2") format("woff2"), url("./../css/fonts/Geomanist-ExtraLight.woff") format("woff"), url("./../css/fonts/Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistLight';
  src: url("./../css/fonts/Geomanist-Light.eot"), url("./../css/fonts/Geomanist-Light.woff2") format("woff2"), url("./../css/fonts/Geomanist-Light.woff") format("woff"), url("./../css/fonts/Geomanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistMedium';
  src: url("./../css/fonts/Geomanist-Medium.eot"), url("./../css/fonts/Geomanist-Medium.woff2") format("woff2"), url("./../css/fonts/Geomanist-Medium.woff") format("woff"), url("./../css/fonts/Geomanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistRegular';
  src: url("./../css/fonts/Geomanist-Regular.eot"), url("./../css/fonts/Geomanist-Regular.woff2") format("woff2"), url("./../css/fonts/Geomanist-Regular.woff") format("woff"), url("./../css/fonts/Geomanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanisUltra';
  src: url("./../css/fonts/Geomanist-Ultra.eot"), url("./../css/fonts/Geomanist-Ultra.woff2") format("woff2"), url("./../css/fonts/Geomanist-Ultra.woff") format("woff"), url("./../css/fonts/Geomanist-Ultra.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GeomanistRegular", arial, sans-serif;
}

.divider {
  height: 4px;
  width: 100px;
  background: #FF0052;
}

.sectionIII {
  background-color: #D1F3FE;
  padding-bottom: 40px;
}

.sectionIII h2 {
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;
  font-family: "GeomanistBold", arial, sans-serif;
  color: #00005E;
  font-size: 40px;
  text-align: center;
}

.sectionIII .divider {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.sectionIII .card {
  margin: auto;
  max-width: 300px;
  background-color: #fff;
  border-radius: 40px;
  height: 500px;
  -webkit-box-shadow: 7px 7px 7px 0px rgba(39, 39, 39, 0.45);
  box-shadow: 7px 7px 5px 0px rgba(39, 39, 39, 0.45);
  margin-bottom: 35px;
  margin-top: 10px;
}

.sectionIII .card .image {
  max-width: 300px;
}

.sectionIII .card .image img {
  width: 100%;
}

.sectionIII .card h3 {
  color: #00005E;
  font-family: "GeomanistMedium", arial, sans-serif;
  font-size: 28px;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.sectionIII .card .divider {
  margin: auto;
}

.sectionIII .card p {
  padding-top: 15px;
  margin: auto;
  max-width: 275px;
  text-align: center;
  color: #00005E;
  font-size: 20px;
}

.sectionIII #lastCard {
  margin-bottom: 0;
}

.placeholder {
  height: 50px;
  background-color: #D1F3FE;
}

@media only screen and (min-width: 800px) {
  .sectionIII .title h2 {
    font-size: 60px;
    text-align: left;
    margin-left: 45px;
  }
  .sectionIII .title .divider {
    text-align: left;
    margin: 0;
    margin-left: 45px;
  }
  .sectionIII .row {
    max-width: 1080px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .sectionIII .row .card {
    margin-top: 35px;
  }
}

@media only screen and (min-width: 1500px) {
  .sectionIII h3 {
    font-size: 65px;
  }
  .sectionIII .row {
    max-width: 1300px;
  }
  .sectionIII .card {
    max-width: 500px;
    height: 500px;
  }
  .sectionIII .card p {
    text-align: center;
  }
}

@font-face {
  font-family: 'GeomanistBlack';
  src: url("./../css/fonts/Geomanist-Black.eot"), url("./../css/fonts/Geomanist-Black.woff2") format("woff2"), url("./../css/fonts/Geomanist-Black.woff") format("woff"), url("./../css/fonts/Geomanist-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBold';
  src: url("./../css/fonts/Geomanist-Bold.eot"), url("./../css/fonts/Geomanist-Bold.woff2") format("woff2"), url("./../css/fonts/Geomanist-Bold.woff") format("woff"), url("./../css/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBook';
  src: url("./../css/fonts/Geomanist-Book.eot"), url("./../css/fonts/Geomanist-Book.woff2") format("woff2"), url("./../css/fonts/Geomanist-Book.woff") format("woff"), url("./../css/fonts/Geomanist-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistExtraLight';
  src: url("./../css/fonts/Geomanist-ExtraLight.eot"), url("./../css/fonts/Geomanist-ExtraLight.woff2") format("woff2"), url("./../css/fonts/Geomanist-ExtraLight.woff") format("woff"), url("./../css/fonts/Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistLight';
  src: url("./../css/fonts/Geomanist-Light.eot"), url("./../css/fonts/Geomanist-Light.woff2") format("woff2"), url("./../css/fonts/Geomanist-Light.woff") format("woff"), url("./../css/fonts/Geomanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistMedium';
  src: url("./../css/fonts/Geomanist-Medium.eot"), url("./../css/fonts/Geomanist-Medium.woff2") format("woff2"), url("./../css/fonts/Geomanist-Medium.woff") format("woff"), url("./../css/fonts/Geomanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistRegular';
  src: url("./../css/fonts/Geomanist-Regular.eot"), url("./../css/fonts/Geomanist-Regular.woff2") format("woff2"), url("./../css/fonts/Geomanist-Regular.woff") format("woff"), url("./../css/fonts/Geomanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanisUltra';
  src: url("./../css/fonts/Geomanist-Ultra.eot"), url("./../css/fonts/Geomanist-Ultra.woff2") format("woff2"), url("./../css/fonts/Geomanist-Ultra.woff") format("woff"), url("./../css/fonts/Geomanist-Ultra.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GeomanistRegular", arial, sans-serif;
}

.divider {
  height: 4px;
  width: 100px;
  background: #FF0052;
}

.sectionIV {
  background: #00BCFF;
  z-index: -100;
}

.sectionIV h2 {
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;
  font-family: "GeomanistBold", arial, sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.sectionIV .divider {
  margin: auto;
  margin-bottom: 20px;
}

.sectionIV form {
  max-width: 300px;
  margin: auto;
  padding-bottom: 70px;
}

.sectionIV form .item {
  margin: auto;
  width: 250px;
}

.sectionIV form .item label {
  padding-top: 8px;
  text-align: left;
  padding-left: 5px;
  font-family: "GeomanistRegular", arial, sans-serif;
  color: #fff;
}

.sectionIV form .item input, .sectionIV form .item textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: calc(100% - 5px);
  text-align: left;
  padding-left: 5px;
  font-size: 16px;
  margin-top: 2px;
  font-family: "GeomanistLight", arial, sans-serif;
  color: #00005E;
  z-index: +100;
}

.sectionIV form .item input::-webkit-datetime-edit-text, .sectionIV form .item textarea::-webkit-datetime-edit-text {
  color: #FF0052 !important;
  position: relative;
  font-size: large;
}

.sectionIV form .item input:focus, .sectionIV form .item textarea:focus {
  -webkit-transition: .3s;
  transition: .3s;
  outline: none;
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
}

.sectionIV form .item input[type="date"] {
  position: relative;
}

.sectionIV form .item input[type="date"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f073";
  color: #FF0052;
  padding: 0 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

.sectionIV form .item input[type="date"]:hover:after {
  color: #85012b;
}

.sectionIV form .item input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

.sectionIV form .item input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

.sectionIV form .item input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

.sectionIV form .item textarea {
  height: 175px;
  padding-top: 5px;
  cursor: default;
}

.sectionIV form .item textarea::-webkit-scrollbar {
  width: 10px;
}

.sectionIV form .item textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sectionIV form .item textarea::-webkit-scrollbar-thumb {
  background: #FF0052;
}

.sectionIV form label {
  text-align: center;
  display: block;
}

.sectionIV form input {
  display: block;
  text-align: center;
  margin: auto;
  z-index: +100;
}

.sectionIV form textarea {
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
  resize: none;
}

.sectionIV form button {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  position: relative;
  z-index: 100;
  background-color: #FF0052;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  font-family: "GeomanistBold", arial, sans-serif;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
}

.sectionIV form button:hover {
  background-color: #85012b;
}

.sectionIV i {
  font-size: 200px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  position: absolute;
  float: right;
  right: 0;
  margin-top: -230px;
  margin-right: 140px;
  color: #2383A5;
  z-index: 1;
}

@media only screen and (min-width: 500px) {
  .sectionIV form {
    max-width: 450px;
  }
  .sectionIV form .item {
    width: 450px;
  }
}

@media only screen and (min-width: 1000px) {
  .sectionIV .title h2 {
    font-size: 60px;
    text-align: left;
    margin-left: 45px;
  }
  .sectionIV .title .divider {
    text-align: left;
    margin: 0;
    margin-left: 45px;
  }
  .sectionIV form {
    max-width: 800px;
  }
  .sectionIV form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sectionIV form .row .item {
    margin: 0;
    width: 45%;
  }
  .sectionIV form .item {
    width: 800px;
  }
  .sectionIV form .item textarea {
    width: 99.5%;
  }
  .sectionIV form button {
    width: 20%;
  }
}

@media only screen and (min-width: 1920px) {
  .sectionIV i {
    font-size: 300px;
    margin-top: -345px;
    margin-right: 400px;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@font-face {
  font-family: 'GeomanistBlack';
  src: url("./../css/fonts/Geomanist-Black.eot"), url("./../css/fonts/Geomanist-Black.woff2") format("woff2"), url("./../css/fonts/Geomanist-Black.woff") format("woff"), url("./../css/fonts/Geomanist-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBold';
  src: url("./../css/fonts/Geomanist-Bold.eot"), url("./../css/fonts/Geomanist-Bold.woff2") format("woff2"), url("./../css/fonts/Geomanist-Bold.woff") format("woff"), url("./../css/fonts/Geomanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistBook';
  src: url("./../css/fonts/Geomanist-Book.eot"), url("./../css/fonts/Geomanist-Book.woff2") format("woff2"), url("./../css/fonts/Geomanist-Book.woff") format("woff"), url("./../css/fonts/Geomanist-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistExtraLight';
  src: url("./../css/fonts/Geomanist-ExtraLight.eot"), url("./../css/fonts/Geomanist-ExtraLight.woff2") format("woff2"), url("./../css/fonts/Geomanist-ExtraLight.woff") format("woff"), url("./../css/fonts/Geomanist-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistLight';
  src: url("./../css/fonts/Geomanist-Light.eot"), url("./../css/fonts/Geomanist-Light.woff2") format("woff2"), url("./../css/fonts/Geomanist-Light.woff") format("woff"), url("./../css/fonts/Geomanist-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistMedium';
  src: url("./../css/fonts/Geomanist-Medium.eot"), url("./../css/fonts/Geomanist-Medium.woff2") format("woff2"), url("./../css/fonts/Geomanist-Medium.woff") format("woff"), url("./../css/fonts/Geomanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanistRegular';
  src: url("./../css/fonts/Geomanist-Regular.eot"), url("./../css/fonts/Geomanist-Regular.woff2") format("woff2"), url("./../css/fonts/Geomanist-Regular.woff") format("woff"), url("./../css/fonts/Geomanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'GeomanisUltra';
  src: url("./../css/fonts/Geomanist-Ultra.eot"), url("./../css/fonts/Geomanist-Ultra.woff2") format("woff2"), url("./../css/fonts/Geomanist-Ultra.woff") format("woff"), url("./../css/fonts/Geomanist-Ultra.ttf") format("truetype");
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "GeomanistRegular", arial, sans-serif;
}

.divider {
  height: 4px;
  width: 100px;
  background: #FF0052;
}

footer {
  background: #212121;
}

footer .left h2 {
  text-align: center;
  margin: 0;
  color: white;
  padding: 25px 25px 10px;
  font-family: "GeomanistBook", arial, sans-serif;
  font-size: 32px;
}

footer .left .divider {
  margin: auto;
}

footer .left .social {
  padding-top: 7px;
  margin: auto;
  text-align: center;
}

footer .left .social .icon {
  padding-right: 4px;
  display: inline;
  font-size: 30px;
}

footer .left .social .icon a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .left .social .icon a:hover {
  color: #FF0052;
}

footer .right p {
  margin: 0;
  color: #6A6A6A;
  font-family: "GeomanistBold", arial, sans-serif;
  text-align: center;
  padding-top: 40px;
  font-size: 24px;
  padding-right: 25px;
}

footer .right p a {
  text-decoration: none;
  color: #6A6A6A;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .right p a:hover {
  color: #FF0052;
}

footer .right .social {
  padding-top: 7px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

footer .right .social .icon {
  padding-right: 4px;
  display: inline;
  font-size: 30px;
}

footer .right .social .icon a {
  color: #6A6A6A;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .right .social .icon a:hover {
  color: #FF0052;
}

@media only screen and (min-width: 720px) {
  footer .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */