$primary-blue: #00BCFF;
$dark-blue: #00005E;
$red: #FF0052;
$dark-red: #85012b;
$light-blue: #D1F3FE;
$footer-bg: #212121;
$footer-light: #6A6A6A;
$title-margin: 45px;


@mixin shadow {
    -webkit-box-shadow: 7px 7px 7px 0px rgba(39,39,39,0.45);
    -moz-box-shadow: 7px 7px 7px 0px rgba(39,39,39,0.45);
    box-shadow: 7px 7px 5px 0px rgba(39,39,39,0.45);
}