@import './../variables';
@import './../config';

header {
    font-size: 16px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./../../img/title-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 95vh;
    
    .navbar {
        background-color: none !important;
    }

    .navbar img {
        width: 100px;
    }

    .nav-item {
        margin-left: 20px;
    }

    .nav-link {
        transition: all .5s;
    }

    .nav-link:hover {
        color: $red !important;
    }

    div.title {
        color: #ffffff;
        font-family: $bold;
    }

    div.title p {
        font-size: 2rem;
    }

    div.title h1 {
        font-size: 3.5rem;
    }

    div.title h2 {
        font-size: 3.5rem;
    }

    .red {
        color: $red;
    }

    .a {
        font-size: 2rem;
    }

    div.title button {
        font-size: 1.8rem;
        padding: 5px 30px;
        margin: 50px 0;
        font-family: $bold;
        border: 2px solid $red;
        color: $red;
        background: none;
        border-radius: 15px;
        transition: all .5s;
        outline: none;
    }

    div.title button:hover {
        background-color: $red;
        color: #ffffff;
    }

    div.social-media {
        margin-bottom: 20px;
    }

    div.social-media a {
        color: #ffffff;
        margin: 0px 5px;
    }

    div.social-media a i {
        font-size: 2rem;
        transition: all .5s;
    }

    div.social-media a i:hover {
        color: $red;
    }
}

@media(max-width: 600px) {

    header {
        div.title p {
            font-size: 1.5rem;
        }
    
        div.title h1 {
            font-size: 2.5rem;
        }
        
        div.title h2 {
            font-size: 2.5rem;
        }
    
        .a {
            font-size: 1.5rem;
        }
    
        div.title button {
            font-size: 1.5rem;
        }

    }
}

@media(max-width: 993px) {
    header{
        .nav-item {
            margin-left: 0px;
        }
    }
}