@import './../variables';
@import './../config';


.sectionIV {
    .myText {
        .a-link {
            font-size: 2rem;
        }
    
        .button {
            font-size: 1.8rem;
            padding: 5px 30px;
            margin: 50px 0;
            font-family: $bold;
            border: 2px solid $red;
            color: $red;
            background: none;
            border-radius: 15px;
            transition: all .5s;
            outline: none;
        }
    
        .button:hover {
            background-color: $red;
            color: #ffffff;
        }
    }
}
