@import './../variables';
@import './../config';


.sectionIII {
    background-color: $light-blue;
    padding-bottom: 40px;

        h2 {
            text-transform: uppercase;
            padding-top: 20px;
            margin: 0;
            font-family: $bold;
            color: $dark-blue;
            font-size: 40px;
            text-align: center;
        }
        .divider {
            margin: auto;
            text-align: center;
            margin-bottom: 20px;
        }


    .myCard {
        margin: auto;
        max-width: 300px;
        // border: 1px solid green;
        background-color: #fff;
        border-radius: 40px;
        height: 500px;
        @include shadow;
        margin-bottom: 35px;
        margin-top: 10px;

        
        .image{
            max-width: 300px;

            img {
                width: 100%;
            }
        }

        h3 {
            color: $dark-blue;
            font-family: $medium;
            font-size: 28px;
            padding-top: 10px;
            margin-top: 0;
            margin-bottom: 5px;
            text-align: center;
        }
        .divider {
            margin: auto;
        }

        p {
            padding-top: 15px;
            margin: auto;
            max-width: 275px;
            text-align: center;
            color: $dark-blue;
            font-size: 20px;
        }
    }

    #lastCard {
        margin-bottom: 0;
    }

}

.placeholder {
    height: 50px;
    background-color: $light-blue;
}


@media only screen and (min-width: 800px) {
    .sectionIII {
        .title {
            h2 {
                font-size: 60px;
                text-align: left;
                margin-left: $title-margin;
            }
            .divider {
                text-align: left;
                margin: 0;
                margin-left: $title-margin;
            }
        }
        
        .myRow {
            max-width: 1080px;
            margin: auto;
            display: flex;
            justify-content: space-evenly;

            .myCard {
                margin-top: 35px;
            }
        }
    }   
}

@media only screen and (min-width: 1500px) {
    .sectionIII {
        h3 {
            font-size: 65px;
        }
        
        .myRow {
            max-width: 1300px;
        }

        .myCard {
            max-width: 500px;
            height: 500px;

            p {
                text-align: center;
            }
        }
    }
}